<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.library.mapper.UserMapper">

    <resultMap id="UserResultMap" type="com.example.library.entity.User">
        <id property="id" column="id"/>
        <result property="username" column="username"/>
        <result property="password" column="password"/>
        <result property="role" column="role"/>
        <result property="createTime" column="create_time"/>
        <result property="realName" column="real_name"/>
        <result property="email" column="email"/>
        <result property="phone" column="phone"/>
        <result property="maxBooks" column="max_books"/>
        <result property="status" column="status"/>
        <result property="gender" column="gender"/>
    </resultMap>

    <select id="findAdminByUsername" parameterType="String" resultMap="UserResultMap">
        SELECT id, username, password, 'admin' as role, create_time
        FROM dbo.uer
        WHERE username = #{username}
    </select>

    <select id="findReaderByUsername" parameterType="String" resultMap="UserResultMap">
        SELECT id, username, password, real_name, email, phone, max_books, status, gender, 'user' as role, create_time
        FROM dbo.t_user
        WHERE username = #{username}
    </select>

    <select id="findReaderById" parameterType="java.lang.Long" resultMap="UserResultMap">
        SELECT id, username, password, real_name, email, phone, max_books, status, gender, 'user' as role, create_time
        FROM dbo.t_user
        WHERE id = #{id}
    </select>

    <insert id="insertReader" parameterType="com.example.library.entity.User">
        INSERT INTO dbo.t_user (username, password, status, create_time, update_time)
        VALUES (#{username}, #{password}, 1, GETDATE(), GETDATE())
    </insert>

    <update id="updateReader" parameterType="com.example.library.entity.User">
        UPDATE dbo.t_user
        <set>
            <if test="realName != null">real_name = #{realName},</if>
            <if test="gender != null">gender = #{gender},</if>
            <if test="email != null">email = #{email},</if>
            <if test="phone != null">phone = #{phone},</if>
            update_time = GETDATE()
        </set>
        WHERE id = #{id}
    </update>
</mapper>
