USE [master]
GO
/****** Object:  Database [library_db]    Script Date: 2026/7/6 20:32:08 ******/
CREATE DATABASE [library_db]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'library_db', FILENAME = N'E:\SQL sever\MSSQL17.MSSQLSERVER\MSSQL\DATA\library_db.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'library_db_log', FILENAME = N'E:\SQL sever\MSSQL17.MSSQLSERVER\MSSQL\DATA\library_db_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [library_db].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [library_db]
GO
/****** Object:  Table [dbo].[t_book]    Script Date: 2026/7/6 20:32:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[t_book](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[book_name] [varchar](100) NOT NULL,
	[author] [varchar](50) NULL,
	[isbn] [varchar](30) NULL,
	[publish_house] [varchar](100) NULL,
	[price] [decimal](10, 2) NULL,
	[stock] [int] NULL,
	[create_time] [datetime] NULL,
	[update_time] [datetime] NULL,
	[category_id] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[isbn] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[t_borrow_record]    Script Date: 2026/7/6 20:32:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[t_borrow_record](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[user_id] [bigint] NOT NULL,
	[book_id] [bigint] NOT NULL,
	[borrow_time] [datetime] NOT NULL,
	[due_time] [datetime] NOT NULL,
	[return_time] [datetime] NULL,
	[status] [int] NOT NULL,
	[renew_count] [int] NOT NULL,
	[remark] [varchar](255) NULL,
	[create_time] [datetime] NULL,
	[update_time] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[t_category]    Script Date: 2026/7/6 20:32:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[t_category](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[name] [varchar](50) NOT NULL,
	[parent_id] [bigint] NULL,
	[sort] [int] NULL,
	[create_time] [datetime] NULL,
	[update_time] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[uer]    Script Date: 2026/7/6 20:32:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[uer](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[username] [nvarchar](50) NOT NULL,
	[password] [nvarchar](100) NOT NULL,
	[role] [nvarchar](20) NOT NULL,
	[create_time] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_uer_username] UNIQUE NONCLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[t_book] ADD  DEFAULT ((0)) FOR [stock]
GO
ALTER TABLE [dbo].[t_book] ADD  DEFAULT (getdate()) FOR [create_time]
GO
ALTER TABLE [dbo].[t_book] ADD  DEFAULT (getdate()) FOR [update_time]
GO
ALTER TABLE [dbo].[t_borrow_record] ADD  DEFAULT (getdate()) FOR [borrow_time]
GO
ALTER TABLE [dbo].[t_borrow_record] ADD  DEFAULT ((0)) FOR [status]
GO
ALTER TABLE [dbo].[t_borrow_record] ADD  DEFAULT ((0)) FOR [renew_count]
GO
ALTER TABLE [dbo].[t_borrow_record] ADD  DEFAULT (getdate()) FOR [create_time]
GO
ALTER TABLE [dbo].[t_borrow_record] ADD  DEFAULT (getdate()) FOR [update_time]
GO
ALTER TABLE [dbo].[t_category] ADD  DEFAULT ((0)) FOR [parent_id]
GO
ALTER TABLE [dbo].[t_category] ADD  DEFAULT ((0)) FOR [sort]
GO
ALTER TABLE [dbo].[t_category] ADD  DEFAULT (getdate()) FOR [create_time]
GO
ALTER TABLE [dbo].[t_category] ADD  DEFAULT (getdate()) FOR [update_time]
GO
ALTER TABLE [dbo].[uer] ADD  DEFAULT ('user') FOR [role]
GO
ALTER TABLE [dbo].[uer] ADD  DEFAULT (getdate()) FOR [create_time]
GO
USE [master]
GO
